/* PC */
@media (min-width:1024px){
#nav > li{
       display: inline-block;

}
    
}
/* TABLET MOBILE */
@media (max-width:1023px){
    .contact-section .form-control{
        padding: 15px;
    }
    .btn{
        padding: 16px;
    }
    .socials-list a{
        margin: 0 10px;
    }
    .copyright a {
        padding: 20px 0;
        display: inline-block;
    }
}
/* TABLET */
@media (min-width:740px)and(max-width:1023px){
#nav > li{
       display: inline-block;

}

}
/* MOBILE */
@media (max-width:739px){
.s-mt-8{
    margin-top: 8px;
}
.s-col-full ,.s-full-width{
    width:100%;
}
#header{
    overflow: hidden;
    
}
#slider .text-content {
    display: none;
}
#header .mobile-menu-btn{
    display:block;
}
#header .search-btn{
    display:none;
}
#nav{
        display:block;
}
#nav  li a{
    padding:0 24px;
}
#nav > li{
    display: block;
    background-color: black;
}
#nav > li:first-child{
    display:inline-block;
}
#nav .subnav{
    position: initial;
    background-color: rgb(30, 30, 30);
}
#nav .subnav a,#nav .licontact a{
    color:aliceblue;
    display: block;
    border-bottom: 0.5px solid #000;
    padding :5px 41px;
}

#nav .licontact{
    position: initial;
    background-color: rgb(30, 30, 30);
}

#content .member-list img{
    width:60%;
}
.contact-form{
    margin-top: 16px;
}
}